.colortext {
     color: #A5A5A1;
	 white-space: pre;
   }
   .colortext1 {
     color: grey;
	 font-family: Lucida Console;
	 font-size: 100%;
	 margin-left: 240px;

   }
   .colortext2 {
     color: grey;
	 }
   .colorspisok{
   white-space: pre;
   }

   
  
  
